<div class="nested-fields">
  <%= f.fields_for :actor do |role_actor| %>
  <%= role_actor.text_field :name , class: "form-control", placeholder: "Actor's name"%>
  <% end %>
<%= link_to_remove_association "Remove", f %><br />
</div>