@import "bootstrap";

body{
  font-family: 'Revalia', sans-serif;
}

.movie-card{
 margin-bottom: 30px;
}

.card-columns {

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

  margin-top: 10px;
}

.btn{
  white-space: normal;
}

.new_movie{
  margin: 20px 0px;
}

.btn-text{
  font-size: 75%;
}

.movie_title
{
  font-size: 100%;
}

.form-control
{
  margin-bottom: 7px;
  margin-top: 7px;
}

.content{
  margin-top: 20px;
}